
*.ipch
*.log
*.pdb
DirectXEngine/x64/Debug/Camera.obj
DirectXEngine/x64/Debug/DirectXEngine.log
DirectXEngine/x64/Debug/DirectXEngine.tlog/CL.command.1.tlog
DirectXEngine/x64/Debug/DirectXEngine.tlog/CL.read.1.tlog
DirectXEngine/x64/Debug/DirectXEngine.tlog/CL.write.1.tlog
DirectXEngine/x64/Debug/DirectXEngine.tlog/link.command.1.tlog
DirectXEngine/x64/Debug/DirectXEngine.tlog/link.read.1.tlog
DirectXEngine/x64/Debug/DirectXEngine.tlog/link.write.1.tlog
DirectXEngine/x64/Debug/engine.obj
DirectXEngine/x64/Debug/GameObjects.obj
DirectXEngine/x64/Debug/Geometry.obj
DirectXEngine/x64/Debug/Graphics.obj
DirectXEngine/x64/Debug/Lights.obj
DirectXEngine/x64/Debug/LoadObj.obj
DirectXEngine/x64/Debug/main.obj
DirectXEngine/x64/Debug/Mesh.obj
DirectXEngine/x64/Debug/Particles.obj
DirectXEngine/x64/Debug/PointQuadtree.obj
DirectXEngine/x64/Debug/Primitive.obj
DirectXEngine/x64/Debug/renderwindow.obj
DirectXEngine/x64/Debug/Transform.obj
DirectXEngine/x64/Debug/vc142.idb
DirectXEngine/x64/Debug/vc142.pdb
